body{

  font-family: "Montserrat",sans-serif;
  font-weight: 400;
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}



.container-fluid{
  padding: 3% 15%;
}

/* navigation-bar */
.navbar-brand{
  font-family: "ubuntu",sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding-bottom: 4.5rem;
  padding-left: 0;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;

}
/* download-buttons */
.download-button{
  margin:5% 3% 5% 0 ;
}

/* title image */
.title-image{
  width:60%;
 transform: rotate(25deg);
 padding-left:30px;
}



/* features section */

#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: "monserrat",sans-serif;
  font-weight: 700;
}
p{
  color: #8f8f8f;
}
.icon{
  color:#ef8172 ;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#features{
  background-color: white;
position: relative;
z-index: 1; 
}
 .title-image{
position:  absolute;
right: 30%;

}
@media (max-width:1000px){
  #title{
    text-align: center;
  }
  
  .title-image{
    position: static;
    transform: rotate(0);
  }
}  


/* ///////////////////////////////////////// */
/* #features{
  text-align: center;
}
.container{

  padding-top: 150px;
  width:75%;
}
.hel{
 
 padding-left: 50px;
}
.hi{
  font-size: 1.5rem;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  padding-top: 20px;
}
.para{
  color: #8f8f8f;
  
}
.fa-heart{
  font-size: 4rem;
  color: #ef8172;
}
.fa-bullseye{
  font-size: 4rem;
  color: #ef8172;
}
.fa-check-circle{
  font-size: 4rem;
  color: #ef8172;
}
.ico:hover{
  color:#ff4c68;
} */

/* //////////////////////////////////////////////////////// */


/* testimonials */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color:#ef8172;
  color: #fff;
}
h2{
  font-family: "manserrat",sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}

/* press-section */
#press{
  background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 15px 50px;
}

/* pricing section */

#pricing{
  padding: 7% 15%;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}


/* //////call-to-action */

#cta{
 padding: 7% 15%;
  
  text-align: center;
  background-color: #ff4c68;
}
#cta h3{
  font-family: "manserrat",sans-serif;
  font-weight:900 ;
  color:white;
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 5%;
}
.cta-button{
margin: 0 2%;
}

/* footer */

#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.customize{
  margin: 0 1%;
}